<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Destinations</title>
</head>

<body>
  <%- include ("../partials/_navbar.ejs") %>
  <h1>Your Destinations</h1>
  <a href="/destinations/new">Add a New Destination</a>
  <ul>
    <% destinations.forEach((destination) => { %>
    <a href="/destinations/<%= destination._id %>">
      <li>
        <h2><%= destination.location %></h2>
        <p><%= destination.notes %></p>
        <% if (destination.hasBeenVisited)  { %>
        <p>Past Trip</p> <% } else { %>
        <p>Trip Wish List</p>
        <% } %>
      </li>
    </a>

    <% }) %>
  </ul>

</body>

</html>